@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Uuuups! Ocorreu um erro, mas não se preocupe. A nossa equipa será avisada e iremos corrigir em breve!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Titulo;
        <div>
            <h2>@Html.Raw(Model.Mensagem)</h2>
        </div>
    }
}